<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>miraklconnector</name>
    <displayName><![CDATA[Mirakl Connector]]></displayName>
    <version><![CDATA[0.0.1]]></version>
    <description><![CDATA[Prestashop module to integrate Mirakl orders in Prestashop using the Mirakl sdk.]]></description>
    <author><![CDATA[Johannes Thyroff]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall Mirakl Connector]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>