{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0).
 * It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
 *#}

{% extends '@Modules/miraklconnector/views/templates/admin/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('themes/new-theme/public/orders.css') }}" type="text/css" media="all">
{% endblock %}


{% block controllerTitle %}{{ 'Orders PC-Componentes'|trans({}, 'Modules.Controllertab.Admin') }}{% endblock %}

{% block content %}
    {% include '@PrestaShop/Admin/Sell/Order/Order/Blocks/change_orders_status_modal.html.twig' %}

    {% block order_grid_row %}
        <div class="row">
            <div class="col-12">
                {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': orderGrid} %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

